<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<main>
  <a [routerLink]="['/']">
  <header class="brand-name">
    <img class="listing-photo" width="100px" src="https://th.bing.com/th/id/OIP.AbIUtrs5M98vojVVPUGGhgAAAA?rs=1&pid=ImgDetMain" alt="logo" aria-hidden="true">
  </header>
  </a>
  <section class="content">
    <!-- <app-home></app-home> -->
    <router-outlet></router-outlet>
  </section>
</main>
  
    

